<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="BuynamicsPackages" value="https://pkgs.dev.azure.com/buynamics2/bd391c60-ff84-4008-8168-3be774b6b877/_packaging/BuynamicsPackages/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="BuynamicsPackages">
      <package pattern="Buynamics.*" />
    </packageSource>
    <packageSource key="feed-BuynamicsPackages">
      <package pattern="Buynamics.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>