{
  "BaseUrl": "https://localhost:50000",
  "ApiBaseUrl": "https://localhost:5005",
  "Headless": true,
  "IgnoreHTTPSErrors": false,
  "M2MClient": {
    "ClientId": "{ask a colleague}",
    "ClientSecret": "{ask a colleague}",
  },
  "TokenEndpointUrl": "https://identity-tst.whatstheprice.com/oauth2/token",
  "Users": {
    "Admin": {
      "Password": "{ask a colleague}",
    },
    "User": {
      "Password": "{ask a colleague}"
    }
  }
}
