{
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost;Database=CostModelsDb;Integrated Security=True;TrustServerCertificate=True;"
  },
  "Elasticsearch": {
    "Url": "http://localhost:9200/",
    "ApiKey": "{fill-in-apikey}"
  },
  "Auth0": {
    "Domain": "https://auth-tst.whatstheprice.com/"
  },
  "Messaging": {
    "ConnectionString": "{ask-a-colleague}"
  },
  "DataApi": {
    "TokenEndpointUrl": "https://identity-tst.whatstheprice.com/oauth2/token",
    "ApiUrl": "https://data-tst.whatstheprice.com",
    "ClientId": "{ask-a-colleague}",
    "ClientSecret": "{ask-a-colleague}",
    "Audience": "buynamics-wtp-data-api"
  },
  "FreightApi": {
    "TokenEndpointUrl": "https://identity-tst.whatstheprice.com/oauth2/token",
    "ApiUrl": "https://freight-tst.whatstheprice.com",
    "ClientId": "{ask-a-colleague}",
    "ClientSecret": "{ask-a-colleague}",
    "Audience": "buynamics-wtp-freight-api"
  }
}
